@charset "UTF-8";
.navigation {
  height: 80px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.brand {
  /*position: fixed;*/
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 98%;
  margin: 0 auto;

}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 80px;
  background: #ffffff;
  color: #262626;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-dropdown-2 {
  position: relative;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 80px;
  width: 80px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
/* Footer */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #621717;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  position: relative;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  /*z-index: 2;*/
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #ffffff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ffffff;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ffffff;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ffffff;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/*middle css*/
.main-bg {
  height: 300px;
  background-image: url("consfinal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-overlay{
  background:rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: Nexa;
  src: url("Fonts/NexaDemo-Bold.woff");
}
.main-text-heading{
  color: white;
  font-family: Nexa;
  font-size: 65px;
  padding: 0px 40px 0px 40px;
}
.main-text-subtext{
  color: white;
  font-family: Nexa;
  font-size: 20px;
  padding: 0px 40px 0px 40px;
}
.body-text{
  color: dimgray;
  line-height: 1.5em;
  font-size: 16px;
  padding: 40px 40px 0px 40px;
}
.grid-left{
  padding: 0px 20px 0px 40px;
}
.grid-right{
  padding: 0px 40px 0px 20px;
}
.grid-middle{
  padding: 0px 20px 0px 20px;
}


.grid-spacing{
  padding: 40px 40px 40px 40px;
}
.div2 {
  border-radius:10px;
  width: 300px;
  height: 130px;
  padding: 20px;
  box-sizing: border-box;
  background: gold;
}
.div3 {
  width: 300px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  background:peachpuff;
  border: 10px black;
}

.div4{
  width: 300px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid green;
  align-items:start;
}

ul {
  list-style-type: bullet;
  /*margin: 20px;*/
  padding: 20px;
}
.button {
  border: 2px solid black;
  color: black;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  left: 50px;
  top: 100px;
}
.button1 {background-color: black;}


/*MOBILE CSS*/
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 0px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
  .main-text-heading{
    font-size: 30px;
    padding: 0px 25px 0px 25px;
  }
  .main-text-subtext{
    font-size: 16px;
    padding: 0px 25px 0px 25px;
  }
  .body-text{
    color: grey;
    font-size: 15px;
    padding: 0px 25px 0px 25px;
    line-height: 1.7em;
  }
  .grid-left{
    padding: 0px 20px 0px 20px;
  }
  .grid-right{
    padding: 0px 20px 0px 20px;
  }
  .grid-middle{
    padding: 0px 20px 0px 20px;
  }
  .grid-spacing{
    padding: 20px 20px 20px 20px;
  }
}
/*.grid-container {*/
/*  display: grid;*/
/*  grid-template-columns: auto auto auto;*/

/*  padding: 10px;*/
/*}*/
/*.grid-container2 {*/
/*  display: grid;*/
/*  grid-template-rows: auto auto auto;*/
/*  padding: 10px;*/

/*}*/
/*.grid-item {*/
/*  background-color: rgba(255, 255, 255, 0.8);*/

/*  padding: 20px;*/
/*  font-size: 30px;*/
/*  text-align: start;*/

/*}*/
/*.grid-item2 {*/
/*  font-size: 16px;*/
/*  text-align: start;*/

/*}*/
/*.grid-item3 {*/
/*  background-color: rgba(255, 255, 255, 0.8);*/

/*  padding: 20px;*/
/*  font-size: 30px;*/
/*  text-align: start;*/

/*}*/
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
  .main-text-heading{
    font-size: 35px;
  }

}
